## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Klaksvik,FO,62.2266,-6.5890,50.92,88,99,13.82,overcast clouds
1,1,Sao Joao Da Barra,BR,-21.6403,-41.0511,70.14,86,62,19.01,broken clouds
2,2,Vila Velha,BR,-20.3297,-40.2925,66.94,94,70,8.12,broken clouds
3,3,Upernavik,GL,72.7868,-56.1549,46.22,65,9,2.37,clear sky
4,4,Melilla,ES,35.2937,-2.9383,75.58,88,75,2.30,broken clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("Please enter a minimum temperature for your trip. "))
max_temp = float(input("Please enter a maximum temperature for your trip. "))

Please enter a minimum temperature for your trip. 70
Please enter a maximum temperature for your trip. 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Sao Joao Da Barra,BR,-21.6403,-41.0511,70.14,86,62,19.01,broken clouds
4,4,Melilla,ES,35.2937,-2.9383,75.58,88,75,2.30,broken clouds
6,6,Laguna,US,38.4210,-121.4238,81.34,45,0,7.43,clear sky
13,13,Avarua,CK,-21.2078,-159.7750,73.45,73,40,10.36,scattered clouds
14,14,Trinidad,BO,-14.8333,-64.9000,79.63,63,100,4.56,overcast clouds
18,18,Gurupi,BR,-11.7292,-49.0686,74.17,41,4,5.64,clear sky
19,19,Airai,TL,-8.9266,125.4092,70.11,52,99,3.58,overcast clouds
20,20,Bang Saphan,TH,11.2126,99.5117,81.52,80,100,8.23,light rain
23,23,Atuona,PF,-9.8000,-139.0333,77.49,73,11,12.86,few clouds
27,27,Sabha,LY,27.0377,14.4283,74.84,31,0,10.38,clear sky

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Sao Joao Da Barra,BR,70.14,broken clouds,-21.6403,-41.0511,
4,Melilla,ES,75.58,broken clouds,35.2937,-2.9383,
6,Laguna,US,81.34,clear sky,38.4210,-121.4238,
13,Avarua,CK,73.45,scattered clouds,-21.2078,-159.7750,
14,Trinidad,BO,79.63,overcast clouds,-14.8333,-64.9000,
18,Gurupi,BR,74.17,clear sky,-11.7292,-49.0686,
19,Airai,TL,70.11,overcast clouds,-8.9266,125.4092,
20,Bang Saphan,TH,81.52,light rain,11.2126,99.5117,
23,Atuona,PF,77.49,few clouds,-9.8000,-139.0333,
27,Sabha,LY,74.84,clear sky,27.0377,14.4283,

In [15]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [43]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].replace("", np.nan,inplace=True)

hotel_df.dropna(subset=["Hotel Name"], inplace=True)

In [49]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [55]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd> and <dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [56]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))